[Unit]
Description=Aquarium MQTT service
After=multi-user.target

[Service]
Type=simple
User=1000
Group=1000
Restart=always
EnvironmentFile=/home/pi/AquariumPi/.env
ExecStart=/usr/bin/python3 /home/pi/AquariumPi/mqtt_aquarium.py

[Install]
WantedBy=multi-user.target